.tab-wrapper {

}

.card-container > .ant-tabs-card > .ant-tabs-content {
  // height: 120px
  max-height: 780px;
  margin-top: -16px;
  background-color: @dr-light-grey;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: @paper-background;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  color: @second-text-color;
  font-family: 'system-light';

  &:hover {
    color: @blue;
  }
  &.ant-tabs-tab-active {
    background: @paper-background;
    font-family: 'system-medium';

    &:hover {
      color: @second-text-color;
      cursor: default;
    }
  }
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-wrap {
  justify-content: flex-start;
}

.ant-tabs {
  font-family: 'system-light';
}
